@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  border: 2px solid #222;
}

* * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

.content-hero {
  background-image: url("../images/fullbanner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 96px;
}

header .trigg-logo {
  max-width: 141px;
}

header .trigg-logo img {
  display: inline-block;
  max-width: 141px;
}

header .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.875rem;
  line-height: 22px;
}

header .menu ul .access {
  padding: 8px 24px;
  border: 1px solid #fff;
  border-radius: 6px;
  font-weight: bold;
}

header .menu ul .menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

header .menu ul .menu-user .icon-user {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .menu ul .menu-user .icon-user img {
  width: 100%;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-left h1 {
  margin-top: 64px;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.content-left .div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-left .content-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-left .content-benefits .box-benefits {
  background-color: red;
}

.content-left .content-benefits .box-benefits .icon-benefits {
  width: 28px;
  height: 28px;
  margin-bottom: 16px;
}

.content-left .content-benefits .box-benefits .icon-benefits img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.content-left .store {
  margin-top: 36px;
  max-width: 45%;
}

.content-left .store img {
  width: 100%;
}

.content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: red;
}

.content-right .cel {
  margin-top: 64px;
  max-width: 100%;
}

.content-right .cel img {
  width: 80%;
}
/*# sourceMappingURL=style.css.map */