@import "aux_mixins";

* {
  @include reset;

  img {
    display: block;
  }
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}
.content-hero {
  background-image: url("../images/fullbanner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 180px;
  color: $aux-white-color;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .trigg-logo {
    .logo-size {
      width: 141px;
    }
    img {
      margin-left: -34px;
      width: 100%;
    }
  }

  .nav {
    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 26px;
      list-style: none;

      li {
        position: relative;
      }

      .li-list:hover::before {
        content: "";
        position: absolute;
        display: block;
        bottom: -7px;
        left: 0;
        animation: lianimate 0.5s forwards;
        transition: width 0.5s;
        height: 5px;
        background: #01ffe7;
      }

      .access {
        flex: 0 0 auto;
        padding: 8px 24px;
        border: 1px solid $aux-white-color;
        border-radius: 6px;
        font-weight: bold;
        transition: all 0.5s ease;

        &:hover {
          background: $aux-white-color;
          color: #01cfbb;
        }
      }

      @include font("desc16");

      .menu-user {
        display: flex;
        align-items: center;
        gap: 8px;
        .icon-user {
          width: 20px;
          height: 20px;

          display: flex;
          align-items: center;
          justify-content: flex-start;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.content-banner {
  display: flex;
  justify-content: space-between;

  .content-left {
    flex: 1;
    animation: Show 0.5s forwards;
    h1 {
      margin-top: 84px;
      @include font(h1);
      text-transform: uppercase;
    }

    .content-benefits {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-content: center;

      margin-top: 46px;

      .box-benefits {
        flex: 1 1 150px;
        padding: 5px;

        span {
          @include font(desc16);
          display: inline-block;
          margin-top: 10px;
        }
      }
    }

    .store {
      max-width: 35%;
      padding: 5px;
      margin-top: 8pxpx;

      img {
        max-width: 100%;
        min-width: 200px;
      }
    }
  }

  .content-right {
    animation: Show 0.5s forwards;
    flex: 1;
    display: flex;
    justify-content: center;

    position: relative;

    .cel {
      flex: 0 0 300px;
      img {
        width: 100%;

        animation: CellAnimate 2s alternate infinite;
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      gap: 16px;
      bottom: 50px;
      right: 12px;
      position: absolute;

      .facebook img:hover,
      .instagram img:hover,
      .twitter img:hover {
        animation: SocialRotate 0.7s;
      }
    }
  }
}
.demostration {
  .image-hero {
    max-width: 100%;
    margin: -150px auto 0 auto;

    img {
      max-width: 100%;
    }

    .border-hero {
      display: flex;
    }

    .border-color1 {
      flex: 0 1 583px;
      height: 10px;
      background: #01cfbb;
    }
    .border-color2 {
      flex: 0 1 582px;
      height: 10px;
      background: #01e8d2;
    }
    .border-color3 {
      flex: 0 1 582px;
      height: 10px;
      background: #01ffe7;
    }
  }
}

.cashback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cashleft {
  background: $aux-gray-color;
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  .cash-title {
    padding-top: 120px;

    .img-cash {
      width: 50px;
      img {
        width: 100%;
      }
    }

    h3 {
      @include font(h3);
      text-transform: uppercase;
    }

    p {
      @include font(txt24);
      color: $second-gren-color;
      margin-top: 16px;
      margin-bottom: 64px;
    }

    .btn {
      max-width: 100px;
      background: $primary-gren-color;

      @include font(desc16);
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      color: $aux-white-color;

      padding: 12px 30px;
      border-radius: 6px;

      transition: all 0.3s ease;

      &:hover {
        background: #31cfbf;
      }
    }

    .store-cash {
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}

.cashcenter {
  position: relative;
  .cel-desmonstration {
    flex: 1;
    max-width: 320px;
    margin-top: 50px;
    .happy,
    .pig-white {
      width: 70px;
      height: 70px;

      img {
        width: 100%;
      }
    }

    .happy {
      position: absolute;
      top: 40%;
      left: 8%;
      animation: iconHappy 1s ease-in alternate infinite;
    }
    .pig-white {
      position: absolute;
      top: 20%;
      right: 10%;
      animation: iconPig 1.2s ease-in alternate infinite;
    }
    img {
      max-width: 100%;
    }
  }
}

.cashright {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  padding: 120px 0;

  h3 {
    @include font(txt18);
    margin-bottom: 16px;
  }

  sub {
    @include font(desc16);
  }

  .simulate {
    @include font(txt32);
    font-weight: bold;
    color: $primary-gren-color;
    margin-top: 25px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 18rem;
    height: 0.5em;
    position: relative;
    border-radius: 5px;
    background: $aux2-gray-color;
    outline: none;
    margin: 25px 0;

    &::-webkit-slider-thumb {
      appearance: none;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary-gren-color;
    }
  }

  .box-offer {
    display: flex;
    gap: 16px;

    .box {
      flex: 1 1 0;
      height: 150px;
      background: $aux-white-color;
      border-radius: 6px;
      text-align: center;

      box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
      p {
        @include font(desc16);
        font-weight: bold;
        text-align: center;
        color: $aux-white-color;

        background: $primary-gren-color;
        border-radius: 6px 6px 0 0;
        padding: 10px 20px;
      }

      span {
        display: inline-block;
        @include font(txt24);
        font-weight: bold;

        padding-top: 24px;
      }
    }

    .box-resgate {
      flex: 1 1 0;
      height: 150px;
      background: $second-gren-color;
      border-radius: 6px;
      text-align: center;
      box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);

      display: flex;
      flex-direction: column;
      justify-content: center;

      font-weight: bold;
      color: $aux-white-color;
      @include font(desc16);

      .rs {
        @include font(txt18);
      }
    }
  }
}

footer {
  text-align: center;
  background: $primary-gren-color;
  padding: 20px 0;
  color: $aux-white-color;
}

@keyframes CellAnimate {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes lianimate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes Show {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SocialRotate {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes iconHappy {
  to {
    transform: rotateY(360deg);
  }
}
@keyframes iconPig {
  to {
    transform: rotateY(-360deg);
  }
}

@media (max-width: 768px) {
  header .nav .menu {
    gap: 16px;
  }
}
