@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* img {
  display: block;
}

body {
  width: 100%;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

.content-hero {
  background-image: url("../images/fullbanner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 180px;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 96px;
}

header .trigg-logo .logo-size {
  max-width: 141px;
}

header .trigg-logo img {
  margin-left: -34px;
  width: 100%;
}

header .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0.875rem;
  line-height: 22px;
}

header .menu ul li {
  position: relative;
}

header .menu ul .li-list:hover::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -7px;
  left: 0;
  -webkit-animation: lianimate .5s  forwards;
          animation: lianimate .5s  forwards;
  -webkit-transition: width .5s;
  transition: width .5s;
  height: 5px;
  background: #01ffe7;
}

@-webkit-keyframes lianimate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes lianimate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

header .menu ul .access {
  padding: 8px 24px;
  border: 1px solid #fff;
  border-radius: 6px;
  font-weight: bold;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .menu ul .access:hover {
  background: #fff;
  color: #01cfbb;
}

header .menu ul .menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

header .menu ul .menu-user .icon-user {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .menu ul .menu-user .icon-user img {
  width: 100%;
}

.content-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-banner .content-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-banner .content-left h1 {
  margin-top: 84px;
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.content-banner .content-left .content-benefits {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 46px;
}

.content-banner .content-left .content-benefits .box-benefits {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  padding: 5px;
}

.content-banner .content-left .content-benefits .box-benefits span {
  font-size: 0.875rem;
  line-height: 22px;
  display: inline-block;
  margin-top: 10px;
}

.content-banner .content-left .store {
  max-width: 35%;
  padding: 5px;
  margin-top: 8pxpx;
}

.content-banner .content-left .store img {
  max-width: 100%;
  min-width: 200px;
}

.content-banner .content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.content-banner .content-right .cel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
}

.content-banner .content-right .cel img {
  width: 100%;
}

.content-banner .content-right .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  bottom: 50px;
  right: 12px;
  position: absolute;
}

.demostration {
  position: relative;
}

.demostration .image-hero {
  max-width: 100%;
  margin: -150px auto 0 auto;
}

.demostration .image-hero img {
  max-width: 100%;
}

.demostration .image-hero .border-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demostration .image-hero .border-color1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 583px;
          flex: 0 1 583px;
  height: 10px;
  background: #01cfbb;
}

.demostration .image-hero .border-color2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 582px;
          flex: 0 1 582px;
  height: 10px;
  background: #01e8d2;
}

.demostration .image-hero .border-color3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 582px;
          flex: 0 1 582px;
  height: 10px;
  background: #01ffe7;
}

.demostration .cel-desmonstration {
  position: absolute;
  max-width: 250px;
  top: 50%;
  left: 40%;
}

.demostration .cel-desmonstration img {
  max-width: 100%;
}

.cashback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cashleft {
  background: #e5e5e523;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cashleft .cash-title {
  padding-top: 120px;
}

.cashleft .cash-title .img-cash {
  width: 50px;
}

.cashleft .cash-title .img-cash img {
  width: 100%;
}

.cashleft .cash-title h3 {
  font-size: 2rem;
  line-height: 40px;
  text-transform: uppercase;
}

.cashleft .cash-title p {
  font-size: 1.5rem;
  line-height: 27px;
  color: #01b6a6;
  margin-top: 16px;
  margin-bottom: 64px;
}

.cashleft .cash-title .btn {
  max-width: 100px;
  background: #00bdad;
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 30px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cashleft .cash-title .btn:hover {
  background: #31cfbf;
}

.cashleft .cash-title .store-cash {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.cashright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding: 120px 0;
}

.cashright h3 {
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 16px;
}

.cashright sub {
  font-size: 0.875rem;
  line-height: 22px;
}

.cashright .simulate {
  font-size: 2rem;
  line-height: 42px;
  font-weight: bold;
  color: #00bdad;
  margin-top: 25px;
}

.cashright input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: inline-block;
  width: 18rem;
  height: 0.5em;
  position: relative;
  border-radius: 5px;
  background: #e5e5e5e0;
  outline: none;
  margin: 25px 0;
}

.cashright input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00bdad;
}

.cashright .box-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.cashright .box-offer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 150px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
          box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
}

.cashright .box-offer .box p {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #00bdad;
  border-radius: 6px 6px 0 0;
  padding: 10px 20px;
}

.cashright .box-offer .box span {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 27px;
  font-weight: bold;
  padding-top: 24px;
}

.cashright .box-offer .box-resgate {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 150px;
  background: #01b6a6;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
          box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 0.875rem;
  line-height: 22px;
}

.cashright .box-offer .box-resgate .rs {
  font-size: 1.125rem;
  line-height: 27px;
}

footer {
  text-align: center;
  background: #00bdad;
  padding: 20px 0;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */