@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* img {
  display: block;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

.content-hero {
  background-image: url("../images/fullbanner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 180px;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .trigg-logo .logo-size {
  width: 141px;
}

header .trigg-logo img {
  margin-left: -34px;
  width: 100%;
}

header .nav .btn-mobile {
  display: none;
}

header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  list-style: none;
  font-size: 0.875rem;
  line-height: 22px;
}

header .nav .menu li a {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

header .nav .menu .li-list a:hover::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -7px;
  left: 0;
  -webkit-animation: lianimate 0.5s forwards;
          animation: lianimate 0.5s forwards;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  height: 5px;
  background: #01ffe7;
}

header .nav .menu .access {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
  padding: 8px 24px;
  border: 1px solid #fff;
  border-radius: 6px;
  font-weight: bold;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

header .nav .menu .access:hover {
  background: #fff;
  color: #01cfbb;
}

header .nav .menu .menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

header .nav .menu .menu-user .icon-user {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .nav .menu .menu-user .icon-user img {
  width: 100%;
}

.content-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-banner .content-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-animation: Show 0.5s forwards;
          animation: Show 0.5s forwards;
}

.content-banner .content-left h1 {
  margin-top: 84px;
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.content-banner .content-left .content-benefits {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 46px;
}

.content-banner .content-left .content-benefits .box-benefits {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  padding: 5px;
}

.content-banner .content-left .content-benefits .box-benefits span {
  font-size: 0.875rem;
  line-height: 22px;
  display: inline-block;
  margin-top: 10px;
}

.content-banner .content-left .store {
  max-width: 35%;
  padding: 5px;
  margin-top: 8pxpx;
}

.content-banner .content-left .store img {
  max-width: 100%;
  min-width: 200px;
}

.content-banner .content-right {
  -webkit-animation: Show 0.5s forwards;
          animation: Show 0.5s forwards;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.content-banner .content-right .cel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.content-banner .content-right .cel img {
  width: 100%;
  -webkit-animation: CellAnimate 2s alternate infinite;
          animation: CellAnimate 2s alternate infinite;
}

.content-banner .content-right .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  bottom: 50px;
  right: 12px;
  position: absolute;
}

.content-banner .content-right .social .facebook img:hover,
.content-banner .content-right .social .instagram img:hover,
.content-banner .content-right .social .twitter img:hover {
  -webkit-animation: SocialRotate 0.7s;
          animation: SocialRotate 0.7s;
}

.demostration .hero2 {
  display: none;
}

.demostration .image-hero {
  max-width: 100%;
  margin: -150px auto 0 auto;
}

.demostration .image-hero img {
  max-width: 100%;
}

.demostration .image-hero .border-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demostration .image-hero .border-color1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 583px;
          flex: 0 1 583px;
  height: 10px;
  background: #01cfbb;
}

.demostration .image-hero .border-color2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 582px;
          flex: 0 1 582px;
  height: 10px;
  background: #01e8d2;
}

.demostration .image-hero .border-color3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 582px;
          flex: 0 1 582px;
  height: 10px;
  background: #01ffe7;
}

.cashback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cashleft {
  background: #e5e5e538;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.cashleft .cash-title {
  padding-top: 120px;
}

.cashleft .cash-title .img-cash {
  width: 50px;
}

.cashleft .cash-title .img-cash img {
  width: 100%;
}

.cashleft .cash-title h3 {
  font-size: 2rem;
  line-height: 40px;
  text-transform: uppercase;
}

.cashleft .cash-title p {
  font-size: 1.5rem;
  line-height: 27px;
  color: #01b6a6;
  margin-top: 16px;
  margin-bottom: 64px;
}

.cashleft .cash-title .btn {
  max-width: 100px;
  background: #00bdad;
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 30px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cashleft .cash-title .btn:hover {
  background: #31cfbf;
}

.cashleft .cash-title .store-cash {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.cashcenter {
  position: relative;
}

.cashcenter .cel-desmonstration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 320px;
  margin-top: 50px;
}

.cashcenter .cel-desmonstration .happy,
.cashcenter .cel-desmonstration .pig-white {
  width: 70px;
  height: 70px;
}

.cashcenter .cel-desmonstration .happy img,
.cashcenter .cel-desmonstration .pig-white img {
  width: 100%;
}

.cashcenter .cel-desmonstration .happy {
  position: absolute;
  top: 40%;
  left: 8%;
  -webkit-animation: iconHappy 1s ease-in alternate infinite;
          animation: iconHappy 1s ease-in alternate infinite;
}

.cashcenter .cel-desmonstration .pig-white {
  position: absolute;
  top: 20%;
  right: 10%;
  -webkit-animation: iconPig 1.2s ease-in alternate infinite;
          animation: iconPig 1.2s ease-in alternate infinite;
}

.cashcenter .cel-desmonstration img {
  max-width: 100%;
}

.cashright {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 120px 0;
}

.cashright h3 {
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 16px;
}

.cashright sub {
  font-size: 0.875rem;
  line-height: 22px;
}

.cashright .simulate {
  font-size: 2rem;
  line-height: 42px;
  font-weight: bold;
  color: #00bdad;
  margin-top: 25px;
}

.cashright input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: inline-block;
  width: 18rem;
  height: 0.5em;
  position: relative;
  border-radius: 5px;
  background: #e5e5e5e0;
  outline: none;
  margin: 25px 0;
}

.cashright input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00bdad;
}

.cashright .box-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.cashright .box-offer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 150px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
          box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
}

.cashright .box-offer .box p {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #00bdad;
  border-radius: 6px 6px 0 0;
  padding: 10px 20px;
}

.cashright .box-offer .box span {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 27px;
  font-weight: bold;
  padding-top: 24px;
}

.cashright .box-offer .box-resgate {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 150px;
  background: #01b6a6;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
          box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.247);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 0.875rem;
  line-height: 22px;
}

.cashright .box-offer .box-resgate .rs {
  font-size: 1.125rem;
  line-height: 27px;
}

footer {
  text-align: center;
  background: #00bdad;
  padding: 20px 0;
  color: #fff;
}

@-webkit-keyframes CellAnimate {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes CellAnimate {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes lianimate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes lianimate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes Show {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes Show {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SocialRotate {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes SocialRotate {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes iconHappy {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes iconHappy {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes iconPig {
  to {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@keyframes iconPig {
  to {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@media (max-width: 768px) {
  header .nav .menu {
    gap: 16px;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 70px;
    right: 0;
    background: #00bdad;
    z-index: 1000;
    overflow-y: hidden;
  }
  header .nav.active .menu {
    gap: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    padding-top: 50px;
  }
  header .nav .btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 10px;
  }
  header .nav #hamburguer {
    color: #01ffe7;
    width: 24px;
    border-top: 3px solid;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .nav #hamburguer::after, header .nav #hamburguer::before {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    margin-top: 3px;
    background: currentColor;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
  }
  header .nav.active #hamburguer {
    border-top-color: transparent;
  }
  header .nav.active #hamburguer::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  header .nav.active #hamburguer::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -6px;
  }
  .nav.active .menu li {
    margin-bottom: 28px;
  }
  .nav.active .menu li a {
    font-size: 1.125rem;
    line-height: 27px;
  }
}

@media (max-width: 640px) {
  .content-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-banner .content-left h1 {
    margin-top: 20px;
    font-size: 4rem;
  }
  .content-banner .content-left .content-benefits {
    margin-bottom: 20px;
  }
  .content-banner .content-right {
    margin-top: 50px;
  }
  .cashback .cashright {
    padding: 60px 0;
  }
  .cashback .cash-title {
    padding-top: 60px;
  }
  .demostration .hero1 {
    display: none;
  }
  .demostration .hero2 {
    display: block;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */